.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}

.spinner {
  height: 80px;
  margin: auto;
}

.App-intro {
  font-size: large;
}

/* new css for movie component */

* {
  box-sizing: border-box;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.App-header h2 {
  margin: 0;
}

.add-movies {
  text-align: center;
}

.add-movies button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}

.movie {
  margin: 1em;
  padding: 0;
  width: calc(50% - 2em);

  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  justify-content: space-between;

  background: #404040FF;
  color: white;
}

.movie .img-container {
  flex: 0 1 auto;
}
.movie img {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.movie-text {
  padding: 1em 1.5em;
  text-align: left;
  flex: 1 1 60%;
}
.movie-text h2 {
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
}

.capitalise {
  text-transform: capitalize;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}


.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}


input[type="submit"] {
  padding: 10px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}


.search > input[type="text"]{
  width: 40%;
  min-width: 170px;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    width: calc(100% - 2em);
  }
}

@media screen and (max-width: 693px) {
  .movie {
    width: 100%;
  }
  .movie img {
    max-height:  60px;
  }
}